.mainHead {
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 100;
}

.header {
    display: flex !important;
    background-color: #aabec1;
    padding: 20px;
}

.subHeader:nth-child(2) {
    margin-left: auto;
}

.fetchCodeLogo {
    width: 160px;
}