.mainHead {
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 100;
}

.header {
    display: flex !important;
    background-color: #aabec1;
    padding: 20px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 160px;
}

.instagram-icon {
    color: #c506dd !important;
}

.whatsapp-icon{
    color: green !important;
}

.fetchCodeLogo {
    width: 160px;
}